<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    </head>
    <body>
        <%- include("_header") %>
        
        <!-- <% if(flash.success && flash.success.length > 0) { %> 
            <h5>
                <%= flash.success %>
            </h5>
        <%} %> -->
        <script>
            alertify.set('notifier','position', 'top-right');

            <% if(flash.success && flash.success.length > 0) { %>
                alertify.success("<%= flash.success %>");
            <% } %>

            <% if(flash.error && flash.error.length > 0) { %>
                alertify.error("<%= flash.error %>");
            <% } %>
        </script>

        <%- body %> 
        
        <%- include("_footer") %>
        <%- script %>

    </body>
</html>